USE [master]
GO
/****** Object:  Database [EnerTech]    Script Date: 1/11/2024 17:46:56 ******/
CREATE DATABASE [EnerTech]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnerTech', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS04\MSSQL\DATA\EnerTech.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnerTech_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS04\MSSQL\DATA\EnerTech_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnerTech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnerTech]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 1/11/2024 17:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[Detalle] [nvarchar](200) NOT NULL,
	[Criticidad] [nvarchar](50) NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 1/11/2024 17:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Carrito] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 1/11/2024 17:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Venta]    Script Date: 1/11/2024 17:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Venta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](300) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[IVA] [float] NOT NULL,
	[CodigoIVA] [int] NOT NULL,
 CONSTRAINT [PK_Detalle_Venta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 1/11/2024 17:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 1/11/2024 17:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](300) NOT NULL,
	[id_marca] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
	[Catalogo] [bit] NOT NULL,
	[Imagen] [nvarchar](500) NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [float] NULL,
	[codigo_iva] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RelatedTaxes]    Script Date: 1/11/2024 17:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelatedTaxes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigoIVA] [int] NOT NULL,
	[TasaIVA] [float] NOT NULL,
	[BaseImponible] [float] NOT NULL,
	[TotalIVA] [float] NOT NULL,
	[id_venta] [int] NOT NULL,
 CONSTRAINT [PK_RelatedTaxes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 1/11/2024 17:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RazonSocial] [nvarchar](200) NULL,
	[Identificacion] [int] NOT NULL,
	[Contador] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[TipoDocumento] [nvarchar](50) NULL,
	[TipoCliente] [nvarchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 1/11/2024 17:46:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Detalle] [nvarchar](300) NOT NULL,
	[CodigoAutorizacion] [bigint] NULL,
	[FechaVtoCae] [datetime] NULL,
	[PuntoDeVenta] [int] NULL,
	[NumeroVenta] [int] NULL,
	[id_usuario] [int] NOT NULL,
	[TipoComprobante] [nvarchar](50) NULL,
	[Total] [float] NOT NULL,
	[IVA] [float] NOT NULL,
	[TotalGravado] [float] NOT NULL,
	[TipoAutorizacion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([id], [id_usuario], [Detalle], [Criticidad], [Fecha]) VALUES (1, 0, N'1111 - Se registro un nuevo usuario correctamente', N'Media', CAST(N'2024-10-01T16:44:44.793' AS DateTime))
INSERT [dbo].[Bitacora] ([id], [id_usuario], [Detalle], [Criticidad], [Fecha]) VALUES (2, 1, N'rr@gmail.com - Inicio sesion correctamente', N'Baja', CAST(N'2024-10-01T16:44:51.633' AS DateTime))
INSERT [dbo].[Bitacora] ([id], [id_usuario], [Detalle], [Criticidad], [Fecha]) VALUES (3, 1, N'rr@gmail.com - Inicio sesion correctamente', N'Baja', CAST(N'2024-10-01T17:31:11.433' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([Id], [Nombre]) VALUES (1, N'Sensores')
INSERT [dbo].[Categoria] ([Id], [Nombre]) VALUES (2, N'PLC')
INSERT [dbo].[Categoria] ([Id], [Nombre]) VALUES (3, N'Cables')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Venta] ON 

INSERT [dbo].[Detalle_Venta] ([Id], [id_venta], [id_producto], [Codigo], [Descripcion], [Cantidad], [PrecioUnitario], [Total], [IVA], [CodigoIVA]) VALUES (6, 4, 10, N'S003', N'Sensor 3', 1, 54000, 54000, 9371.9, 5)
INSERT [dbo].[Detalle_Venta] ([Id], [id_venta], [id_producto], [Codigo], [Descripcion], [Cantidad], [PrecioUnitario], [Total], [IVA], [CodigoIVA]) VALUES (7, 4, 11, N'S004', N'Sensor 4', 4, 12000, 48000, 8330.58, 5)
INSERT [dbo].[Detalle_Venta] ([Id], [id_venta], [id_producto], [Codigo], [Descripcion], [Cantidad], [PrecioUnitario], [Total], [IVA], [CodigoIVA]) VALUES (8, 4, 15, N'P003', N'PLC 3', 3, 58000, 174000, 30198.35, 5)
SET IDENTITY_INSERT [dbo].[Detalle_Venta] OFF
GO
SET IDENTITY_INSERT [dbo].[Marca] ON 

INSERT [dbo].[Marca] ([Id], [Nombre]) VALUES (1, N'Samsung')
INSERT [dbo].[Marca] ([Id], [Nombre]) VALUES (2, N'Siemens')
INSERT [dbo].[Marca] ([Id], [Nombre]) VALUES (3, N'Keyence')
SET IDENTITY_INSERT [dbo].[Marca] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([id], [Codigo], [Descripcion], [id_marca], [id_categoria], [Catalogo], [Imagen], [Cantidad], [Precio], [codigo_iva]) VALUES (8, N'S001', N'Sensor 1', 1, 1, 1, N'~/Images/S001.jpg', 45, 35000, 4)
INSERT [dbo].[Producto] ([id], [Codigo], [Descripcion], [id_marca], [id_categoria], [Catalogo], [Imagen], [Cantidad], [Precio], [codigo_iva]) VALUES (9, N'S002', N'Sensor 2', 2, 1, 1, N'~/Images/S002.jpg', 6, 25000, 5)
INSERT [dbo].[Producto] ([id], [Codigo], [Descripcion], [id_marca], [id_categoria], [Catalogo], [Imagen], [Cantidad], [Precio], [codigo_iva]) VALUES (10, N'S003', N'Sensor 3', 3, 1, 1, N'~/Images/S003.jpg', 21, 54000, 5)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[RelatedTaxes] ON 

INSERT [dbo].[RelatedTaxes] ([id], [codigoIVA], [TasaIVA], [BaseImponible], [TotalIVA], [id_venta]) VALUES (4, 5, 21, 228099.17, 47900.83, 4)
INSERT [dbo].[RelatedTaxes] ([id], [codigoIVA], [TasaIVA], [BaseImponible], [TotalIVA], [id_venta]) VALUES (5, 4, 10.5, 31674.21, 3325.79, 5)
INSERT [dbo].[RelatedTaxes] ([id], [codigoIVA], [TasaIVA], [BaseImponible], [TotalIVA], [id_venta]) VALUES (6, 5, 21, 119834.71, 25165.29, 5)
SET IDENTITY_INSERT [dbo].[RelatedTaxes] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Email], [Password], [RazonSocial], [Identificacion], [Contador], [Estado], [Nombre], [Apellido], [TipoDocumento], [TipoCliente]) VALUES (1, N'cnJAZ21haWwuY29t', N'qGDTEj76cdzAvT2eXvu+cIloeqPANJBZo5ivElu7CzM=', N'Rodrigo', 1111, 0, N'Activo', N'Um9kcmlnbw==', N'R29uemFsZXo=', N'DNI', N'Consumidor Final')
INSERT [dbo].[Usuario] ([Id], [Email], [Password], [RazonSocial], [Identificacion], [Contador], [Estado], [Nombre], [Apellido], [TipoDocumento], [TipoCliente]) VALUES (2, N'd2VibWFzdGVyQGdtYWlsLmNvbQ==', N'qGDTEj76cdzAvT2eXvu+cIloeqPANJBZo5ivElu7CzM=', N'WebMaster', 1111111, 0, N'Activo', N'V2ViTWFzdGVy', N'V2ViTWFzdGVy', N'DNI', N'Consumidor Final')
INSERT [dbo].[Usuario] ([Id], [Email], [Password], [RazonSocial], [Identificacion], [Contador], [Estado], [Nombre], [Apellido], [TipoDocumento], [TipoCliente]) VALUES (3, N'VUFDQGdtYWlsLmNvbQ==', N'qGDTEj76cdzAvT2eXvu+cIloeqPANJBZo5ivElu7CzM=', N'Usuario Administrador Contable(UAC)', 222222, 0, N'Activo', N'VUFD', N'VUFD', N'DNI', N'Consumidor Final')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([Id], [Fecha], [Detalle], [CodigoAutorizacion], [FechaVtoCae], [PuntoDeVenta], [NumeroVenta], [id_usuario], [TipoComprobante], [Total], [IVA], [TotalGravado], [TipoAutorizacion]) VALUES (4, CAST(N'2024-10-30T15:52:20.000' AS DateTime), N'Venta', NULL, NULL, NULL, NULL, 4, NULL, 276000, 47900.83, 228099.17, NULL)
INSERT [dbo].[Venta] ([Id], [Fecha], [Detalle], [CodigoAutorizacion], [FechaVtoCae], [PuntoDeVenta], [NumeroVenta], [id_usuario], [TipoComprobante], [Total], [IVA], [TotalGravado], [TipoAutorizacion]) VALUES (5, CAST(N'2024-10-30T17:01:30.000' AS DateTime), N'Venta', NULL, NULL, NULL, NULL, 4, NULL, 180000, 28491.08, 151508.92, NULL)
INSERT [dbo].[Venta] ([Id], [Fecha], [Detalle], [CodigoAutorizacion], [FechaVtoCae], [PuntoDeVenta], [NumeroVenta], [id_usuario], [TipoComprobante], [Total], [IVA], [TotalGravado], [TipoAutorizacion]) VALUES (6, CAST(N'2024-10-30T19:38:19.000' AS DateTime), N'Venta', NULL, NULL, NULL, NULL, 4, NULL, 650000, 112809.92, 537190.08, NULL)
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
USE [master]
GO
